.portfolio-select {
    gap: 15px 8px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.select__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__item:not(:last-child) {
    margin-bottom: 30px;
}

.portfolio__img {
    width: 450px;
    height: 294px;
}

.portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    @include font(18px, 400, 28px, 0.03em);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;;
    color: $font-color-white;
    background-color: $portfolio-bg-overlay;
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &, 
    .portfolio__link:focus & {
        transform: translateY(0%);
    }
}

.portfolio__content-wrapper {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid $portfolio-border-cards;
    border-top: none;
    background-color: $portfolio-bg-cards;
}

.portfolio__title {
    @include font(18px, 700, 36px, 0.06em);
    color: $primary-font-color;
    margin-bottom: 4px;
}

.portfolio__description {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $secondary-font-color;
}

@media screen and (min-width:768px) {

    .portfolio-select {
        justify-content: center;
        margin-bottom: 30px;
    }

    .select__item:not(:last-child) {
       margin-right: 8px;
    }

    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio__img {
        width: 354px;
        height: 294px;
    }

}

@media screen and (min-width:768px) and (max-width:1199px) {
   
    .portfolio__item {
        flex-basis: calc((100% - 30px) / 2);
    
            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }
            
            &:not(:last-child) {
                margin-bottom: 30px;
            }

    }
}

    @media screen and (min-width:1200px) {
        .portfolio-select {
            margin-bottom: 50px;
        }


        .portfolio__img {
            width: 370px;
            height: 294px;
        }
    
        .portfolio__item {
            flex-basis: calc((100% - 60px) / 3);          
    
                &:not(:nth-child(3n)) {
                    margin-right: 30px;
                }
                
                &:not(:nth-child(-n + 6)) {
                    margin-bottom: 0;
                }

            }
        
    }
    