
.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills__item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.skills__description {
    @extend %align; 
    @include font(14px, 700, 16.41px, 0.03em);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    text-transform: uppercase;
    color: $font-color-white;
}

.skills__img {
    width: 370px;
    height: 294px;
}




