.logo {
    @include font(24px, 700, 28px, 0.03em);
    font-family: $logo-font;
    color: $accent-color;
}

.logo__dark {
    color: $logo-color-dark;
}

.logo__light {
    color: $logo-color-light;
}

@media screen and (min-width: 768px) {
    .logo--header__logo {
        margin-right: 88px;
    }
}

@media screen and (min-width: 1200px) {
    .logo--header__logo {
        margin-right: 93px;
    }
}
