

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__text-action {
    @include font(20px, 700, 23px, 0.03em);
    text-align: center;
    margin-bottom: 12px;
    color: $primary-font-color;
}

.modal-form__label{
    @include font(12px, 400, 14px, 0.01em);
    margin-bottom: 4px;
    color: $secondary-font-color;
}

.modal-form__input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding: 12px 16px 12px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    }
}

.modal-form__message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    }
}

.modal-form-message::placeholder {
    @include font(12px, 400, 14px, 0.01em);
    color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: $modal-form-icon;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:focus + & {
        fill: $modal-form-accent-icon;
    }
}

.checkbox-policy {
    position: absolute;
}

.checkbox-policy-label {
    @extend %align;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-font-color;
    margin-bottom: 30px;

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 15px;
        border: 2px solid $checkbox-primary-color;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 10px;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

    .checkbox-policy:focus + &::before {
        border-color: $accent-color;
    }

    .checkbox-policy:checked + &::before {
        border-color: transparent;
        background-image: url(../images/checkbox.svg);
        background-size: contain;
        background-origin: border-box;
        background-repeat: no-repeat;
    }
}
  
.checkbox-policy-link {
    text-decoration-line: underline; 
    color: $accent-color;
}

@media screen and (min-width:1200px) {
    .checkbox-policy-label {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }

}