// COLORS

    $accent-color: #2196F3;
    $primary-font-color: #212121;
    $secondary-font-color: #757575;
    $font-color-white: #ffffff;
    $bg-primary: #FFFFFF;
    $main-header-border: #ECECEC;

    $logo-color-dark: #000000;
    $logo-color-light: #ffffff;

    $bg-section-dark: #2F303A;
    $bg-section-light: #F5F4FA;
 
    $hero-bg-btn: #2196F3;
    $hero-color-btn: #ffffff;
    $hero-btn-hover: #188CE8;

    $modal-form-bg-btn: #2196F3;
    $modal-form-color-btn: #ffffff;
    $modal-form-btn-hover: #188CE8;

    $subscribe-bg-btn: #2196F3;
    $subscribe-color-btn: #ffffff;
    $subscribe-btn-hover: #188CE8;

    $portfolio-select-bg-btn: #F5F4FA;
    $portfolio-select-color-btn: #ffffff;
    $portfolio-select-btn-hover: #2196F3;
    $portfolio-select-btn-active: #2196F3;

    $portfolio-bg-overlay: rgba(33, 150, 243, 0.9);
    $portfolio-bg-cards: #FFFFFF;
    $portfolio-border-cards: #EEEEEE;

    $bg-skills: #F5F4FA;

    $bg-footer: #2F303A;
    $footer-font-white: #ffffff;
    $footer-font-white-transparent: rgba(255, 255, 255, 0.6);

    $icon-color-primary: #AFB1B8;
    $icon-border: #AFB1B8;
    $icon-color-white: #ffffff;
    $bg-icon-white: #ffffff;

    $modal-form-icon: #212121;
    $modal-form-accent-icon: #2196F3;

    $bg-backdrop: rgba(0, 0, 0, 0.2);
    $bg-modal: #FFFFFF; 
    $color-modal-btn-icon: #000000;
    $border-modal-btn: rgba(0, 0, 0, 0.1);

    $checkbox-primary-color: #212121;
    $checkbox-accent-color: #2196F3;

    $primary-color-mobile-btn: #212121;
    $accent-color-mobile-btn: #2196F3;

// FONTS 

    $primary-font: 'Roboto', sans-serif;
    $logo-font: 'Raleway', sans-serif;